@import url('https://fonts.google.com/specimen/Outfit');

:root{
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightgray);
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
}

body > .card{
    max-width: 270px;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 0.5px 0 var(--darkblue);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > .card > img{
    border-radius: 10px;
    width: 100%;
}

body > .card > p.title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    line-height: 25px;
}

body > .card > p.desc{
    font-weight: 400;
    font-size: 15px;
    color: var(--grayishblue);
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-bottom: 10px;
}